
@import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Neucha&family=Outfit:wght@100..900&display=swap');



:root{
  --bgcolor: #0091C4;
  --primarycolor: #861920;
  --secondarycolor: #D3C59D;
  --tertiarycolor: #508037;
  --titlefont: "Neucha", cursive;
  --primaryfont: "Outfit", sans-serif;
}


article {
  background: #27A5D1;
  display: flex;
  gap: 0em;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: -79px
}

article section {
  background: #86DFFF;
  margin: .25em;
  padding: 4px;
  flex: 3;
}

/* Test */
main{
  width: 42%;
  margin: 0 auto;
  padding: 100px;
  background: var(--bgcolor);
  font-family: var(--primaryfont);
  color: #002633

  
}

body{
  background-image: url("https://i.postimg.cc/xd014Q4z/cableknit.jpg");
  
  
}

h1{
  font-family: var(--titlefont);
  font-size: 3em;
  color: var(--secondarycolor);
  padding: 5px;
  top: 62px;
  right: 684px;
  position: absolute;
  
  margin: 0;
}

h2{
  font-family: var(--primaryfont);
  font-size: 2em;
  color: var(--secondarycolor);
  padding: 464px;
  top: 46px;
  right: 749px;
  position: absolute;
}

audio{
  padding: 9px;
  top: 576px;
  right: 558px;
  position: absolute;
  margin: 0;
  width: 769px
  
}


img{
  width: 97%;
  margin-left: 12px;
  margin-bottom: 129px;
  margin-top: -47px
}
